---
layout:   default
---

{% include pages.html %}

<!-- posts -->
<div class="post-container post-container_content">
    {% for post in paginator.posts %}
    <div class="post-container__post post">
        <a class="post__mobile-link" href="{{ post.url }}" tabIndex="-1"></a>
        <div class="post__poster-cell">
            <a class="post__poster-link" href="{{ post.url }}">
                <img class="post__poster" src="/assets/posters/{{ post.poster }}" alt="" />
            </a>
        </div>
        <dl class="post__details">
            <dt class="post__title">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </dt>
            <dd class="post__title-jp">
                <span>{{ post.title_jp }}</span>
            </dd>
            <dd class="post__episodes">
                <span>Готово серий: <b>{{ post.episodes }}</b></span>
            </dd>
            <dd class="post__description">
                {{ post.description }}
            </dd>
            <dd class="post__year">
                <span>Год выпуска: {{ post.year }}</span>
            </dd>
            <dd class="post__genres">
                {% for g in post.genres %}<span class="tag post__tag">{{ g }}</span>{% endfor %}
            </dd>
        </dl>
    </div>
    {% endfor %}
</div>
{% include pages.html %}