---
layout:   default
---

{% include pages.html %}

<!-- posts -->
<div class="post-container post-container_content">
    {% for post in paginator.posts %}
    <div class="post">
        <a class="mobile_link" href="{{ post.url }}"></a>
        <div class="poster_cell">
            <a href="{{ post.url }}"><img class="mposter" src="/assets/posters/{{ post.poster }}" alt=""/></a>
        </div>
        <div class="mcontent">
                <div class="mcontent__title">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </div>
                <div class="mcontent__title-jp">
                    <span>{{ post.title_jp }}</span>
                </div>
                <div class="mcontent__episodes">
                    <span>Готово серий: <b>{{ post.episodes }}</b></span>
                </div>
                <div class="mcontent__description">
                    {{ post.description }}
                </div>
                <div class="mcontent__year">
                    <span>Год выпуска: {{ post.year }}</span>
                </div>
                <div class="mcontent__genres">
                    {% for g in post.genres %}<span>{{ g }}</span>{% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% include pages.html %}
