<footer class="page-footer">
    <div class="page-footer__container">
        <p class="page-footer__small-title small-title">
            Amber в соцсетях:
        </p>
        <ul class="social-icons page-footer__social-icons">
            <li class="social-icons__list-item social-icons__list-item_vk">
                <a class="link social-icons__link" href="https://vk.com/studioamber">
                    <span class="social-icons__name">ВКонтакте</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_tg">
                <a class="link social-icons__link" href="https://t.me/amberstudio2">
                    <span class="social-icons__name">Telegram</span>
                </a>
            </li>
        </ul>
    </div>
</footer>
</body>

</html>
