<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<link href="/favicon.ico" rel="icon"/>
	<link href="/favicon.ico" rel="shortcut icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ site.title }}{% if page.title %} » {{ page.title }}{% endif %}</title>

	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" type="text/css" rel="stylesheet"/>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>

	<link href="/assets/reset.css" type="text/css" rel="stylesheet"/>
	<link href="/assets/main.css" type="text/css" rel="stylesheet"/>
</head>
<body>
