<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <link href="/favicon.ico" rel="icon"/>
    <link href="/favicon.ico" rel="shortcut icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="theme-color" content="#1c111b">
    
    <meta name="title" content="{{ site.title }}{% if page.title %} — {{ page.title }}{% endif %}"/>
    <meta name="description" content="{% if page.title %}Русская профессиональная озвучка {{page.title}}{% else %}Мы хотим, чтобы хорошей озвучки аниме, было больше. Поэтому мы набрали команду переводчиков и пригласили профессиональных актёров.{% endif %}"/>
    
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://vkstudioamber.github.io/"/>
    <meta property="og:title" content="{{ site.title }}{% if page.title %} — {{ page.title }}{% endif %}"/>
    <meta property="og:description" content="{% if page.title %}Смотри «{{page.title}}» в русской профессиональной озвучке{% else %}Мы хотим, чтобы хорошей озвучки аниме, было больше. Поэтому мы набрали команду переводчиков и пригласили профессиональных актёров.{% endif %}"/>
    <meta property="og:image" content="{% if page.poster %}https://{{site.url}}/assets/posters/{{ page.poster }}{% else %}https://{{site.url}}/assets/header.png{% endif %}"/> 
    <meta property="og:image" content="https://{{site.url}}/assets/icon.png"/> 
    
    <meta name="twitter:title" content="{{ site.title }}{% if page.title %} — {{ page.title }}{% endif %}"/>
    <meta name="twitter:description" content="{% if page.title %}Смотри «{{page.title}}» в русской профессиональной озвучке{% else %}Мы хотим, чтобы хорошей озвучки аниме, было больше. Поэтому мы набрали команду переводчиков и пригласили профессиональных актёров.{% endif %}"/>
    <meta name="twitter:image" content="{% if page.poster %}https://{{site.url}}/assets/posters/{{ page.poster }}{% else %}https://{{site.url}}/assets/header.png{% endif %}"/> 
    <meta name="twitter:image" content="https://{{site.url}}/assets/icon.png"/> 
    
    <title>{{ site.title }}{% if page.title %} — {{ page.title }}{% endif %}</title>

    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" type="text/css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>

    <link href="/assets/reset.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/main.css" type="text/css" rel="stylesheet"/>
</head>
<body>
