<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination"> 
    
    {% if paginator.previous_page %}
    <a class="link-button" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Назад</a>
    {% else %}
    <span class="link-button link-button_disabled">&laquo; Назад</span>
    {% endif %}
    
    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <span class="link-button link-button_disabled link-button_active">{{ page }}</span>
    {% elsif page == 1 %}
    <a class="link-button" href="/">{{ page }}</a>
    {% else %}
    <a class="link-button" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}
    
    {% if paginator.next_page %}
    <a class="link-button" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Вперёд &raquo;</a>
    {% else %}
    <span class="link-button link-button_disabled">Вперёд &raquo;</span>
    {% endif %}
    
</div>
{% endif %}
