{% include head.html %}
<header id="mainHeader" class="page-header">
    {% if page.url != "/" %}
	    <h1 class="page-header__logo logo logo--withlink">
	        <a title="На главную" class="page-header__homelink logo__link" tabindex="100" href="/">Amber</a>
	    </h1>
    {% else %}
	    <h1 class="page-header__logo logo">
	        Amber
	    </h1>
    {% endif %}
    <p class="page-header__logotext logotext">Студия профессионального озвучивания</p>
</header>
<article class="page-content main_container">
    {{ content }}
    {% include post-content.html %}
</article>
{% include footer.html %}